---
import colors from "./config/colors.json";

if (Astro.props.color === undefined) {
  Astro.props.color = colors[Math.floor(Math.random() * colors.length)];
}

const { color } = Astro.props;
---

<div class="min-h-screen brutal-card p-4 sm:p-6 md:p-8">
  <form class="space-y-8 w-full max-w-7xl mx-auto">
    <h1 class="text-4xl md:text-5xl font-bold text-center mb-8 sanchez">
      Agenda tu Servicio
    </h1>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 brutal-card"
    >
      <div class="space-y-2 p-4 brutal-card rounded-lg shadow-lg">
        <label for="name" class="block">Nombre Completo</label>
        <input
          id="name"
          class="w-full bg-slate-700 text-white border-cyan-400 rounded-md p-2"
          required
        />
      </div>

      <div class="space-y-2 p-4 brutal-card rounded-lg shadow-lg">
        <label for="email" class="block">Dirección de recogida</label>
        <input
          id="address"
          class="w-full bg-slate-700 text-white border-cyan-400 rounded-md p-2"
          required
        />
      </div>

      <div
        class="space-y-2 p-4 bg-slate-800 bg-opacity-50 rounded-lg shadow-lg brutal-card"
      >
        <label for="whatsapp" class="block"
          >Número de celular y/o WhatsApp</label
        >
        <input
          id="specialty"
          class="w-full bg-slate-700 text-white border-cyan-400 rounded-md p-2"
          required
        />
      </div>

      <div
        class="space-y-2 p-4 bg-slate-800 bg-opacity-50 rounded-lg shadow-lg brutal-card"
      >
        <label for="birthdate" class="block">Fecha de recogida</label>
        <input
          type="date"
          id="birthdate"
          class="w-full bg-slate-700 text-white border-cyan-400 rounded-md p-2"
          required
        />
      </div>

      <div
        class="space-y-2 p-4 bg-slate-800 bg-opacity-50 rounded-lg shadow-lg brutal-card"
      >
        <label for="service" class="block">¿Que le haremos a tu PC?</label>
        <select
          id="service"
          class="w-full bg-slate-700 text-white rounded-md p-2"
          required
        >
          <option value="">Selecciona un servicio</option>
          <option value="hardware_maintenance">Mantenimiento de Hardware</option
          >
          <option value="software_maintenance">Mantenimiento de Software</option
          >
          <option value="jupiter">Cotizar una reparación de Hardware</option>
          <option value="saturn"
            >Formatear mi PC / Reparación de Software</option
          >
          <option value="earth">Ampliar la memoria RAM</option>
          <option value="mars">Ampliar el SSD</option>
        </select>
      </div>

      <div
        class="space-y-2 p-4 bg-slate-800 bg-opacity-50 rounded-lg shadow-lg brutal-card"
      >
        <label for="experience" class="block"
          >Años de Experiencia Espacial</label
        >
        <input
          type="number"
          id="experience"
          min="0"
          max="100"
          class="w-full bg-slate-700 text-light border-cyan-400 rounded-md p-2"
          required
        />
      </div>

      <div
        class="space-y-2 p-4 bg-slate-800 bg-opacity-50 rounded-lg shadow-lg md:col-span-2 lg:col-span-3 brutal-card"
      >
        <label for="mission-preference" class="block"
          >Describe más detalles sobre el problema</label
        >
        <textarea
          id="mission-preference"
          class="w-full bg-slate-700 text-white rounded-md p-2"
          rows="3"
          required></textarea>
      </div>

      <div
        class="flex items-center space-x-2 p-4 bg-slate-800 rounded-lg shadow-lg md:col-span-2 lg:col-span-3 brutal-card"
      >
        <input type="checkbox" id="agree" class="" required />
        <label for="agree" class=""> Acepto los términos y condiciones</label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full brutal-btn font-bold py-3 px-6 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
    >
      Solicitar Servicio
    </button>
  </form>
</div>

<style define:vars={{ color: color }}>
  .brutal-btn {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    background-color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    transition: all;
    transition-duration: 0.5s;
    animation: ease-in-out;
    font-family: "Sanchez", serif;
  }
  .brutal-btn:hover {
    filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
    background-color: var(--color);
  }
  div.brutal-card {
    background-color: var(--color);
    border-radius: 0.5rem;
    border: 3px solid black;
    filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
    transition: all;
    padding: 1rem;
    transition-duration: 0.5s;
    animation: ease-in-out;
  }
  div.brutal-card:hover {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: var(--color);
    position: relative;
  }

  input[type="checkbox"]:checked::before {
    content: "\2714";
    font-size: 1em;
    color: #000;
    position: absolute;
    right: 1px;
    top: -1px;
  }
</style>

<!-- <script>
  // Script para manejar la animación del botón
  const submitButton = document.querySelector('button[type="submit"]');
  submitButton.addEventListener('mouseover', () => {
    submitButton.style.transform = 'scale(1.05)';
  });
  submitButton.addEventListener('mouseout', () => {
    submitButton.style.transform = 'scale(1)';
  });
</script> -->
