---
interface Props {
  content: any;
}

const { content } = Astro.props;

const price = content.price;
const formatter = new Intl.NumberFormat("es-CO", {
  style: "currency",
  currency: "COP",
});
const formattedPrice = formatter.format(price);
---

<article class="prose-slate w-sm md:w-prose md:prose poppins">
  <a href="/services/" title="Back to services"
    >&larr; Volver a todos los servicios</a
  >
  <h1>{content.title}</h1>
  <p class="text-slate text-sm md:text-base">
    Duración del servicio: {content.duration}
  </p>
  <p class="text-slate">Precio: {formattedPrice}</p>
  <slot />
  <a href="/services/" title="Back to services"
    >&larr; Volver a todos los servicios</a
  >
</article>
