---
import Layout from '@layouts/Default.astro';

---

<Layout
  title='Agenda tu servicio'
  description='Agenda un mantenimiento correctivo y preventivo para tu equipo'
  pageTitle='Mantenimiento'>

  <h1>
    agenda un serbisio mi apa 
  </h1>

</Layout>
